@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 708px;
  }

  .pets {
    padding: 6rem 0 7rem 0;
  }

  .content__section_pets {
    padding: 0 6.4rem;
  }

  .content_pets {
    padding: 2rem 0 0.6rem 0;
  }

  .slider {
    margin-top: 3rem;
  }

  .slider__container {
    padding: 0;
  }

  .card:nth-child(7),
.card:nth-child(8) {
    display: none;
  }

  .slider__nav {
    margin-top: 1rem;
  }

  .content_footer {
    flex-wrap: wrap;
    padding: 0 3.4rem;
    margin-top: 3rem;
    justify-content: space-between;
  }

  .content__section_footer1 {
    width: 27.8rem;
    min-height: 23.4rem;
    margin: 0 0 6.5rem 0;
  }

  .content__section_footer2 {
    width: 30.2rem;
    margin: 0 0 6.5rem 0;
    min-height: 23.4rem;
  }

  .footer_image {
    margin: 0 auto 0 auto;
    width: 30rem;
  }
}
@media screen and (max-width: 767px) {
  .wrapper {
    max-width: 30rem;
    width: 100%;
  }

  .wrapper_header {
    max-width: 25.7rem;
    width: 100%;
    margin: 0 5.3rem 0 auto;
  }

  .logo__subtitle {
    line-height: 120%;
  }

  .menu {
    display: none;
  }

  .menu_burger {
    display: flex;
    align-self: center;
  }

  .pets {
    padding: 4rem 0 4.4rem 0;
  }

  .content_pets {
    padding: 0;
  }

  .content__section_pets {
    padding: 0;
  }

  .content__title_pets {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }

  .slider {
    margin-top: 4.2rem;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }

  .card:nth-child(n+4) {
    display: none;
  }

  .slider {
    margin-bottom: 1.2rem;
  }

  .slider__nav {
    margin-top: 0;
    width: 30rem;
  }

  .content_footer {
    flex-wrap: wrap;
    padding: 0;
    margin-top: 3rem;
    justify-content: center;
  }

  .content__title {
    font-size: 2.5rem;
    line-height: 3.2rem;
    letter-spacing: 0.15rem;
    text-align: center;
  }

  .content__title_footer {
    max-width: 27.8rem;
    margin: 0 auto;
  }

  .content__section_footer1 {
    width: 27.8rem;
    min-height: 20.8rem;
    margin: 0 0 4rem 0;
    align-items: center;
  }

  .content__section_footer2 {
    width: 30.2rem;
    margin: 0 0 4rem 0;
    min-height: 22.2rem;
  }

  .footer_image {
    width: 26rem;
    height: 26.9rem;
  }
}