:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 120rem;
}

.header {
  width: 100vw;
  padding: 3rem 0;
  background-color: #ffffff;
  position: sticky;
  top: 0;
}

.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.logo:hover {
  filter: contrast(1.5);
}

.logo__title {
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.1792rem;
  color: #545454;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.128rem;
  line-height: 120%;
  color: #292929;
}

.menu {
  display: flex;
  max-width: 44.3rem;
}

.list {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  width: 100vw;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  font-family: Arial;
  text-decoration: none;
  color: #545454;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  border-bottom: 3px solid transparent;
}
.list__link:hover {
  color: #292929;
}
.list__link:active {
  border-bottom-color: #f1cdb3;
}

.list__link_active {
  color: #292929;
  border-bottom-color: #f1cdb3;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.content__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #545454;
}

.content__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
}

.pets {
  background-color: #f6f6f6;
  padding: 8rem 0 10rem 0;
}

.content__section_pets {
  align-items: center;
}

.slider {
  width: 100%;
  margin-top: 4.5rem;
}

.slider__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0 3rem 0;
}

.content__title_pets {
  max-width: 40rem;
  text-align: center;
  letter-spacing: 0.208rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 9px;
  margin-bottom: 3rem;
  align-items: center;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}

.card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #545454;
  margin: 3rem 0;
}

.card__button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 1.5rem 4.5rem;
  margin-bottom: 3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 1.8rem;
  letter-spacing: 0.06rem;
  outline: none;
  background-color: transparent;
}
.card__button:hover {
  background-color: #fddcc4;
  cursor: pointer;
  border-color: transparent;
}

.slider__nav {
  display: flex;
  justify-content: space-between;
  width: 34rem;
}

.slider__button {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.112rem;
  color: #545454;
  display: flex;
  width: 5.2rem;
  height: 5.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  border: 2px solid #f1cdb3;
  background-color: transparent;
}
.slider__button:hover {
  background-color: #fddcc4;
  border-color: transparent;
  cursor: pointer;
}
.slider__button:active {
  background-color: #f1cdb3;
}
.slider__button:disabled {
  background-color: transparent;
  border-color: #cdcdcd;
  color: #cdcdcd;
  cursor: auto;
}

.slider__button_active {
  background-color: #f1cdb3;
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  align-items: flex-end;
  display: flex;
}

.content__link_footer:hover {
  filter: contrast(1.3);
}

.content_footer {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.content__section_footer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23.17%;
  margin: 1.6rem 0 6rem 0;
}

.content__section_footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25.16%;
  margin: 1.6rem 0 6rem 0;
}

.content__title_footer {
  color: #ffffff;
  letter-spacing: 0.208rem;
}

.content__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.content__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.112rem;
  color: #f1cdb3;
  margin-left: 2rem;
}

.content__icon_contact {
  max-width: 4rem;
}

.content__icon_adress {
  max-width: 2.2rem;
}

.footer_image {
  width: 30rem;
}