@media screen and (max-width: 1250px) {
  .wrapper {
    width: 708px;
  }

  .slider {
    padding: 0 64px;
  }

  .content_footer {
    justify-items: center;
    flex-wrap: wrap;
  }

  .content__section_footer1 {
    width: 17.9375rem;
  }

  .content__section_footer2 {
    width: 18.875rem;
  }

  .content__link {
    margin-top: 40px;
  }

  .footer_image {
    margin: 0 auto;
  }
}
@media screen and (max-width: 710px) {
  .wrapper {
    width: 300px;
  }

  .menu {
    display: none;
  }

  .content__title {
    font-size: 1.5625rem;
  }

  .slider {
    padding: 0 15px;
  }

  .slider__nav {
    width: 18.75rem;
  }

  .content_footer {
    justify-items: center;
    flex-wrap: wrap;
  }

  .content__section_footer1,
.content__section_footer2 {
    width: 18.75rem;
  }

  .content__link {
    margin-top: 40px;
  }

  .footer__image {
    margin: 0 auto;
  }
}