:root {
  font-size: 10px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  position: relative;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 120rem;
}

.header {
  position: absolute;
  width: 100vw;
  top: 6rem;
}

.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
.logo:hover {
  filter: contrast(1.2);
}

.logo__title {
  font-family: Georgia;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.1792rem;
  color: #f1cdb3;
}

.logo__subtitle {
  margin-top: 1rem;
  text-align: center;
  font-family: Arial;
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.128rem;
  line-height: 110%;
  color: #ffffff;
}

.menu {
  display: flex;
  max-width: 44.3rem;
}

.list {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  list-style-type: none;
  width: 100vw;
}

.list__item {
  display: flex;
  align-items: center;
}

.list__link {
  font-family: Arial;
  text-decoration: none;
  color: #cdcdcd;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  border-bottom: 3px solid transparent;
}
.list__link:hover {
  color: #fafafa;
}
.list__link:active {
  border-bottom-color: #f1cdb3;
}

.list__link_active {
  color: #fafafa;
  border-bottom-color: #f1cdb3;
}

.main {
  display: flex;
  flex-direction: column;
}

.start {
  display: flex;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
  padding-top: 18rem;
}

.content {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  width: 100%;
}

.content__section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.content__section_start {
  padding-bottom: 8rem;
  max-width: 46rem;
}

.content__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  color: #545454;
}

.content__subtitle {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #545454;
}

.content__title_start {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 4.4rem;
  line-height: 130%;
  color: #ffffff;
  max-width: 31rem;
}

.content__subtitle_start {
  font-family: Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 160%;
  color: #cdcdcd;
  margin-top: 4.2rem;
}

.button__primary {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.096rem;
  border-radius: 100px;
  padding: 1.5rem 4.5rem;
  border: none;
  outline: none;
  background-color: #f1cdb3;
}
.button__primary:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.button__primary_start {
  max-width: 20.7rem;
  margin-top: 4.2rem;
}

.start__image {
  margin-left: 4.2rem;
}

.about {
  padding-top: 8rem;
}

.content_about {
  padding: 0 17.5rem;
  margin-bottom: 10rem;
}

.content__section_about {
  max-width: 43rem;
  justify-content: space-around;
}

.content__title_about {
  max-width: 37rem;
  letter-spacing: 0.1952rem;
}

.pets {
  background-color: #f6f6f6;
  padding-top: 8rem;
}

.content__section_pets {
  align-items: center;
  width: 100%;
}

.slider {
  width: 100%;
  margin: 6rem 0;
}

.slider,
.slider__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__container {
  width: 82.5%;
  overflow: hidden;
}

.content__title_pets {
  max-width: 40rem;
  text-align: center;
  letter-spacing: 0.208rem;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  border-radius: 9px;
  align-items: center;
}
.card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #ffffff;
}

.card__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 2.3rem;
  text-align: center;
  letter-spacing: 0.1rem;
  color: #545454;
  margin: 3rem 0;
}

.card__button {
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  box-sizing: border-box;
  padding: 1.3rem 4.3rem;
  margin-bottom: 3rem;
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.096rem;
  outline: none;
  background-color: transparent;
}
.card__button:hover {
  background-color: #fddcc4;
  cursor: pointer;
  border-color: transparent;
}

.slider__arrow {
  display: flex;
  width: 5.2rem;
  height: 5.2rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  outline: none;
  border: 2px solid #f1cdb3;
  background-color: transparent;
}
.slider__arrow:hover {
  background-color: #fddcc4;
  border-color: transparent;
  cursor: pointer;
}
.slider__arrow:active {
  background-color: #f1cdb3;
}
.slider__arrow:disabled {
  background-color: transparent;
  border-color: #cdcdcd;
}
.slider__arrow:disabled svg {
  fill: #cdcdcd;
}

.button__primary_pets {
  max-width: 26.1rem;
  margin-bottom: 10rem;
}

.help {
  padding-top: 8rem;
}

.content__section_help {
  align-items: center;
}

.content__title_help {
  max-width: 32rem;
  text-align: center;
  letter-spacing: 0.208rem;
  margin-bottom: 6rem;
}

.help-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 4.5rem;
}

.help-list__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 6rem 5.5rem 6rem;
}

.help-list__icon {
  width: 6rem;
  height: 6rem;
  margin-bottom: 3rem;
}

.help-list__title {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.112rem;
  color: #545454;
}

.donation {
  background-color: #f6f6f6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.content_donation {
  justify-content: center;
  align-items: center;
}

.donation_image {
  margin-right: 3rem;
  max-height: 26.1rem;
  padding-right: 0.0625rem;
}

.content__section_donation {
  max-width: 38rem;
  justify-content: center;
}

.content__title_donation {
  margin-bottom: 2rem;
  max-width: 30rem;
  letter-spacing: 0.208rem;
}

.content__naming_donation {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.1rem;
  color: #545454;
  margin-bottom: 2rem;
  line-height: 120%;
}

.credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1.5rem;
  background: #f1cdb3;
  border-radius: 9px;
  border: none;
  outline: none;
  max-width: 34.9rem;
  margin-bottom: 2rem;
}
.credit-card:hover {
  background-color: #fddcc4;
  cursor: pointer;
}

.credit-card__image {
  width: 3rem;
  height: 2.3rem;
  margin-right: 1.5rem;
}

.credit-card__account {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.112rem;
  color: #545454;
}

.content__text_donation {
  font-family: Arial;
  font-style: italic;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  color: #b2b2b2;
  padding-bottom: 0.1rem;
}

.footer {
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%), #211f20;
  align-items: flex-end;
  display: flex;
}

.content__link_footer:hover {
  filter: contrast(1.3);
}

.content_footer {
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
}

.content__section_footer1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 23.17%;
  margin: 1.6rem 0 6rem 0;
}

.content__section_footer2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 25.16%;
  margin: 1.6rem 0 6rem 0;
}

.content__title_footer {
  color: #ffffff;
  letter-spacing: 0.208rem;
}

.content__link {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.content__description {
  font-family: Georgia;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.112rem;
  color: #f1cdb3;
  margin-left: 2rem;
}

.content__icon_contact {
  max-width: 4rem;
}

.content__icon_adress {
  max-width: 2.2rem;
}

.footer_image {
  width: 30rem;
}