@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 708px;
  }

  .header {
    top: 3rem;
  }

  .start {
    padding-top: 15rem;
  }

  .content {
    justify-content: center;
  }

  .content__section_start {
    padding-bottom: 10rem;
  }

  .button__primary_start {
    align-self: center;
  }

  .start__image {
    width: 56.9rem;
    height: 59.3rem;
    margin: 0 0 0 14rem;
  }

  .content__section_about {
    max-width: 43.6rem;
  }

  .about__image {
    order: 1;
    margin-top: 8rem;
  }

  .content__subtitle_about {
    margin-top: 2.5rem;
  }

  .card:nth-child(3) {
    display: none;
  }

  .content__section_help {
    max-width: 63rem;
  }

  .content__naming_donation {
    line-height: 115%;
    letter-spacing: 0.09rem;
  }

  .content__text_donation {
    padding-bottom: 0;
  }

  .help-list {
    min-height: 44.9rem;
    justify-content: space-between;
    align-content: space-between;
    padding: 0;
    margin-bottom: 10rem;
  }

  .help-list__item {
    margin: 0;
    width: 17rem;
  }

  .donation_image {
    order: 1;
    padding: 0;
    margin: 6rem 0 0 0;
  }

  .content_footer {
    flex-wrap: wrap;
    padding: 0 3.4rem;
    margin-top: 3rem;
    justify-content: space-between;
  }

  .content__section_footer1 {
    width: 27.8rem;
    min-height: 23.4rem;
    margin: 0 0 6rem 0;
  }

  .content__section_footer2 {
    width: 30.2rem;
    margin: 0 0 6rem 0;
    min-height: 23.4rem;
  }

  .footer_image {
    margin: 0.5rem auto 0 auto;
    width: 30rem;
  }
}
@media screen and (max-width: 670px) {
  .wrapper {
    max-width: 30rem;
  }

  .content__title {
    font-size: 2.5rem;
  }

  .content__section {
    text-align: center;
  }

  .header {
    top: 3rem;
  }

  .menu {
    display: none;
  }

  .content__title_start {
    font-size: 2.5rem;
    letter-spacing: 0.15rem;
  }

  .start {
    padding-top: 15rem;
    padding-bottom: 0.024rem;
  }

  .content {
    justify-content: center;
  }

  .content__section_start {
    padding-bottom: 10.5rem;
  }

  .button__primary_start {
    align-self: center;
  }

  .start__image {
    width: 26rem;
    height: 27.177rem;
    margin: 0 1rem 0 5rem;
  }

  .content__section_about {
    max-width: 27rem;
  }

  .about {
    padding-top: 0rem;
  }

  .content_about {
    padding: 4.5rem 0;
    margin: 0 auto 0 auto;
  }

  .content__title_about {
    letter-spacing: 0.15rem;
    line-height: 125%;
  }

  .about__image {
    order: 1;
    margin-top: 4.2rem;
    width: 26rem;
    height: 35.36rem;
  }

  .content__subtitle_about {
    margin-top: 2.3rem;
    text-align: justify;
  }

  .pets {
    padding: 4.2rem 0;
  }

  .card:nth-child(3),
.card:nth-child(2) {
    display: none;
  }

  .slider {
    flex-wrap: wrap;
  }

  .slider__container {
    order: 0;
    width: 100%;
    justify-content: center;
  }

  .slider__arrow {
    order: 5;
  }

  .content__section_pets {
    flex-wrap: wrap;
  }

  .button__primary_pets {
    margin: 0;
  }

  .content__section_help {
    max-width: 63rem;
  }

  .content__naming_donation {
    line-height: 115%;
    letter-spacing: 0.09rem;
  }

  .content__text_donation {
    padding-bottom: 0;
  }

  .help-list {
    min-height: 44.9rem;
    justify-content: space-between;
    align-content: space-between;
    padding: 0;
    margin-bottom: 10rem;
  }

  .help-list__item {
    margin: 0;
    width: 17rem;
  }

  .donation_image {
    order: 1;
    padding: 0;
    margin: 6rem 0 0 0;
    max-width: 26rem;
  }

  .content_footer {
    flex-wrap: wrap;
    padding: 0 3.4rem;
    margin-top: 3rem;
    justify-content: space-between;
  }

  .content__section_footer1 {
    width: 27.8rem;
    min-height: 23.4rem;
    margin: 0 0 6rem 0;
  }

  .content__section_footer2 {
    width: 30.2rem;
    margin: 0 0 6rem 0;
    min-height: 23.4rem;
  }

  .footer_image {
    margin: 0.5rem auto 0 auto;
    width: 26rem;
  }
}