@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
$color-red: #ef3124;
$color-black: #000000;
$color-strong-gray: #505759;
$color-light-gray: #d9d9d6;
$color-white: #ffffff;

* {
  padding: 0;
  font-size: 10px;
  color: $color-white;
  text-decoration: none;
  box-sizing: border-box;
  background: none;
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  user-select: none;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.gameoverlay {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  position: absolute;
  background-color: rgba($color: #9c9c99, $alpha: 0.9);
  .gameoverlay__img {
    width: 10rem;
    height: 10rem;
  }
  .gameoverlay__message {
    font-size: 5rem;
    text-align: center;
  }
  .gameoverlay__link {
    font-size: 5rem;
    padding: 1rem;
    background-color: $color-white;
    color: $color-strong-gray;
    border: 1px solid transparent;
    border-radius: 2rem;
    transition: all 0.3s ease-in;
    &:hover {
      transition: all 0.3s ease-in;
      background-color: $color-red;
      color: $color-white;
    }
  }
}

.gameoverlay_active {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  width: 100%;
  max-width: 90rem;
  flex-wrap: wrap;
}
.header {
  background-color: $color-white;
  position: sticky;
  top: 0;
  z-index: 15;
}
.wrapper__header {
  min-height: 8rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.button {
  cursor: pointer;
  .material-icons {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    transition: all 0.3s ease-in;
    background-color: $color-light-gray;
    border-radius: 50%;
    &:hover {
      transition: all 0.3s ease-in;
      background-color: $color-red;
    }
  }
}

.burger__btn {
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  z-index: 100;
  transition: all 0.3s ease-in;
  .material-icons {
    color: $color-light-gray;
    width: 5rem;
    height: 5rem;
    font-size: 5rem;
    transition: all 0.3s ease-in;
    &:hover {
      transition: all 0.3s ease-in;
      color: $color-red;
    }
  }
}

.burger__btn_active {
  transform: rotate(90deg);
  transition: 0.5s;
}

.clear__btn {
  transition: all 0.3s ease-in;
  &:hover {
    transition: all 0.3s ease-in;
    color: $color-red;
  }
}

.menu {
  position: fixed;
  width: 32rem;
  left: -150%;
  top: 0;
  background: $color-white;
  z-index: 20;
  transition: all 0.5s ease-in;
  height: 100vh;
  max-height: 100%;
  padding: 2rem;
}

.menu__overlay {
  display: none;
}

.menu__overlay_active {
  background: rgba(41, 41, 41, 0.6);
  z-index: 19;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

.menu__item {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
  transition: all 0.3s ease-in;
  &:hover {
    transition: all 0.3s ease-in;
    background-color: $color-light-gray;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    .menu__image {
      filter: grayscale(0);
    }
    .menu__link {
      transition: all 0.3s ease-in;
      color: $color-red;
    }
  }
  &:active {
    transition: all 0.3s ease-in;
    box-shadow: 0 14px 28px rgba(239, 49, 36, 0.25),
      0 10px 10px rgba(239, 49, 36, 0.22);
    background-color: $color-red;
    .menu__link {
      transition: all 0.3s ease-in;
      color: $color-white;
    }
  }
}

.menu__item_active {
  transition: all 0.3s ease-in;
  box-shadow: 0 14px 28px rgba(239, 49, 36, 0.25),
    0 10px 10px rgba(239, 49, 36, 0.22);
  background-color: $color-red;
  .menu__link {
    transition: all 0.3s ease-in;
    color: $color-white;
  }
  .menu__image {
    filter: grayscale(0);
  }
}
.menu__list {
  margin-top: 5rem;
}

.menu__link {
  display: flex;
  align-items: center;
  color: $color-strong-gray;
  font-size: 3rem;
  transition: all 0.3s ease-in;
}

.menu__link_main {
  color: black;
  font-weight: 500;
}

.menu__image {
  width: 3rem;
  margin-right: 1rem;
  filter: grayscale(100%);
  &:hover {
    filter: grayscale(0);
  }
}

.menu_active {
  top: 0;
  left: 0;
  transition: all 0.5s ease-in;
}

.switch {
  transition: all 0.5s ease;
  &:hover {
    transition: all 0.5s ease;
    border-color: $color-red;
    .checkbox__label {
      background-color: $color-red;
    }
  }
  position: relative;
  border: 2px solid $color-light-gray;
  width: 6rem;
  border-radius: 1rem;
  height: 3.5rem;
  .checkbox {
    visibility: hidden;
    width: 6rem;
    height: 4rem;
  }
  .checkbox__label {
    display: block;
    z-index: 1;
    position: absolute;
    width: 3rem;
    height: 3.5rem;
    top: -2px;
    left: 0%;
    background-color: $color-light-gray;
    border-radius: 30%;
    transition: all 0.5s ease;
    cursor: pointer;
  }
  .checkbox:checked + .checkbox__label {
    left: calc(100% - 2.6rem);
    background-color: $color-red;
    border-color: $color-red;
  }
  .play,
  .train {
    position: absolute;
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: $color-strong-gray;
    text-transform: uppercase;
    left: 0.3rem;
    top: 3rem;
  }
  .play {
    display: none;
  }
  .checkbox:checked ~ .train {
    display: none;
  }
  .checkbox:checked ~ .play {
    display: block;
  }
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  background: rgba($color: #505759, $alpha: 0.1) url('../assets/icons/bg.png')
    repeat;
}

.game__answers {
  visibility: hidden;
  height: 4rem;
  width: 100%;
  overflow: hidden;
  margin-top: 0.5rem;
  .correct,
  .mistake {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0 1rem;
  }
  .correct {
    background-color: $color-red;
  }

  .mistake {
    background-color: $color-light-gray;
  }
}
.wrapper__main,
.card__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.card__box {
  position: relative;
  cursor: pointer;
  width: 20rem;
  height: 27rem;
  margin: 1rem;

  .card__front,
  .card__back {
    position: absolute;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 20rem;
    height: 27rem;

    background-color: $color-light-gray;
    border-radius: 3rem;
    backface-visibility: hidden;
    transition: all 0.5s ease-in;

    &:hover {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
      background-color: $color-red;
    }
  }

  .card__reverse {
    cursor: pointer;
    transition: all 0.2s ease-in;
    &:hover {
      transform: rotate(35deg);
      transition: all 0.2s ease-in;
    }
    &:active {
      transform: rotate(180deg);
      transition: all 0.2s ease-in;
    }
  }
  .card__back {
    background-color: $color-red;
  }

  .card__front::before {
    content: '';
    width: 20rem;
    height: 19rem;
    position: absolute;
    border-radius: 3rem 3rem 0 0;
    top: 0rem;
    left: 0rem;
    background-color: $color-white;
  }

  .card__back {
    justify-content: center;
    transform: rotateY(180deg);
  }

  .card__word {
    font-size: 3rem;
    color: $color-white;
    //margin-top: 5rem;
    z-index: 10;
  }

  .card__image {
    margin: 3rem 0 2rem 0;
    height: 15rem;
    transition: padding 0.7s;
    z-index: 2;
  }

  .card__front_reverse {
    transition: all 0.7s ease-in;
    transform: rotateY(180deg);
  }

  .card__back_reverse {
    transition: all 0.7s ease-in;
    transform: rotateY(360deg);
  }

  .material-icons {
    font-size: 3.6rem;
    color: $color-white;
  }
}

.header[data-state='gameMode'] {
  .game__btn {
    visibility: visible;
  }
}
.main[data-state='gameMode'] {
  .game__answers {
    visibility: visible;
  }
  .card__front {
    background-color: $color-white;

    .card__word {
      display: none;
    }
    .card__reverse {
      display: none;
    }
    .card__image {
      height: 70%;
      width: 90%;
      transition: all 0.5s;
      img {
        padding: 3.5rem;
        background: none;
      }
    }
  }
  .card__back {
    display: none;
  }

  .game__true {
    pointer-events: none;
    img {
      opacity: 0.5;
    }
  }
}

.game__btn {
  visibility: hidden;
}

.footer {
  background: $color-white;
  width: 100%;
  .wrapper__footer {
    margin: 2rem auto;
    justify-content: space-around;
    align-items: center;
    color: red;

    .footer__date {
      color: $color-light-gray;
      font-size: 5rem;
    }
  }
  .footer__img {
    width: 10rem;
    transition: all 0.3s ease-in;
    &:hover {
      transition: all 0.3s ease-in;
      filter: opacity(0.7);
    }
  }
}

.statistic__overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 20;
  background-color: $color-white;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .statistic__category {
    width: 90%;
    margin: 1rem 0;
    z-index: 2;
  }
  .statistic__fields,
  .statistic__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    transition: all 0.3s ease-in;
    padding: 0.5rem;
    &:hover {
      background: $color-light-gray;
      border-radius: 0.5rem;
      transition: all 0.3s ease-in;
      .statistic__eng,
      .statistic__rus,
      .statistic__name,
      .statistic__train,
      .statistic__mistakes,
      .statistic__correct,
      .statistic__coef {
        color: $color-red;
        transition: all 0.3s ease-in;
      }
    }
  }
  .statistic__fields {
    border-bottom: 1px solid $color-strong-gray;
    color: $color-black;
  }
  .statistic__name {
    width: 20%;
    margin: 0.5rem 0;
    color: $color-strong-gray;
  }

  .statistic__eng,
  .statistic__rus {
    color: $color-strong-gray;
    width: 30%;
    margin: 0.5rem 0;
  }
  .statistic__train,
  .statistic__mistakes,
  .statistic__correct,
  .statistic__coef {
    color: $color-strong-gray;
    width: 5%;
    text-align: center;
    margin: 0.5rem 0;
  }
}

.statistic__overlay_active {
  display: flex;
}

@media screen and (max-width: 700px) {
  .footer .footer__img {
    width: 7rem;
  }

  .footer .footer__date {
    font-size: 3rem;
  }
}
