* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #fafafa;
}

.date {
  font-size: 6rem;
}

.time {
  font-size: 12rem;
}

.greeting,
.name {
  font-size: 4rem;
}

h1 {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
