* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #fafafa;
  transition: background 2s ease;
}

.date {
  font-size: 6rem;
}

.time {
  font-size: 12rem;
}

.greeting,
.name {
  font-size: 4rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  opacity: 0.8;
}

.button__bg {
  border: 0.1rem solid #fafafa;
  border-radius: 5px;
  background: none;
  color: #f6f6f6;
  padding: 1rem;
  font-size: 3rem;
}

.button__bg,
.name,
.focus {
  border: 1px solid inherit;
  border-radius: 5px;
  padding: 1rem;
}

.button__bg:hover,
.name:hover,
.focus:hover {
  cursor: pointer;
  transition: 0.5s ease-out;
  color: white;
  background-color: rgba(44, 44, 44, 0.3);
  border: 1px solid inherit;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .time {
    font-size: 6rem;
  }
}
