* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  font-family: "Nunito", sans-serif;
  height: 100vh;
  min-height: 50rem;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: #fafafa;
  transition: background-image 2s ease-in;
}

.wrapper {
  height: 100vh;
  min-height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.date {
  font-size: 4rem;
}

.time {
  font-size: 10rem;
}

.greeting-box {
  font-size: 3rem;
  font-size: 2rem;
  margin: 1rem 0 2rem 0;
  display: flex;
  align-items: center;
}
.greeting {
  margin-right: 2rem;
  opacity: 0.8;
}

.greeting,
.name {
  font-size: 3rem;
}

.name,
.focus {
  border: 1px solid inherit;
  border-radius: 5px;
  padding: 1rem;
  min-width: 4rem;
  outline: none;
  cursor: pointer;
}

.name:hover,
.focus:hover {
  cursor: pointer;
  transition: 0.5s ease-out;
  color: white;
  transform: scale(1.01);
  border: 1px solid inherit;
  border-radius: 5px;
  opacity: 0.5;
}

.question {
  opacity: 0.8;
}

h2 {
  font-size: 2rem;
}

.btn {
  padding: 1rem;
  margin-bottom: 2rem;
  color: #fafafa;
  font-size: 1.5rem;
  outline: none;
  cursor: pointer;
  border-radius: 0.5rem;
  border: 1px solid #fafafa;
  background-color: transparent;
  transition: 1s ease-out;
}

.btn:hover {
  color: #000000;
  background-color: #fafafa;
}

.btn[disabled] {
  opacity: 0.3;
  cursor: default;
}

.btn[disabled]:hover {
  color: #fafafa;
  background-color: transparent;
}

.btn:last-child {
  margin-left: 1rem;
}

/*! Цитата */
.quote {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  opacity: 0.8;
}
.quote figcaption,
.quote blockquote {
  margin: 2rem;
}

@media (max-width: 800px) {
  .greeting,
  .name {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  html {
    font-size: 12px;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 400px) {
  html {
    font-size: 7px;
  }
}
