$base-text: #fafafa;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  max-width: 100vw;
  max-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: $base-text;
}

:root {
  font-size: 1px;
}

body {
  background: url(./assets/background.jpg) no-repeat;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 600rem;
  margin: 40rem auto;
}

.logo {
  display: flex;
  align-items: center;
}

.logo__img {
  width: 60rem;
  margin-right: 25rem;
}

.logo__title {
  font-size: 30rem;
}

.burger__btn {
  border: none;
  outline: none;
  width: 50rem;
  height: 60rem;
  font-size: 30rem;
}

.game__elements {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  width: 200rem;
  max-width: 500rem;
  margin: 2rem 0;
}

.timer,
.steps {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.material-icons {
  font-size: 25rem;
}

.steps__icon,
.timer__icon {
  -webkit-filter: invert(1);
  filter: invert(1);
  width: 30rem;
}

.steps__value,
.timer__value {
  font-size: 30rem;
  padding-left: 5rem;
}

.main {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  max-width: 600rem;
  max-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.menu__overlay {
  display: none;
}

.menu__overlay_active {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(41, 41, 41, 0.6);
  z-index: 20;
}

.menu {
  z-index: 50;
  display: flex;
  position: absolute;
  justify-content: space-around;
  flex-direction: column;
  height: 600rem;
  left: 50%;
  margin-left: -200rem;
  -webkit-transform: translateX(250%);
  transform: translateX(250%);
  -webkit-transition: 0.8s ease-out;
  transition: 0.3s ease-out;
}

.menu_active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.burger__btn {
  z-index: 100;
  transition: 0.3s ease-out;
  width: 100rem;
  background-color: inherit;
  cursor: pointer;
  &:hover {
    transition: 0.3s ease-out;
    opacity: 0.6;
  }
}

.burger__btn_active {
  transform: rotate(90deg);
  transition: 0.3s ease-out;
}

.menu__btn {
  width: 400rem;
  outline: none;
  height: 70rem;
  font-size: 30rem;
  border: 1rem solid $base-text;
  color: $base-text;
  cursor: pointer;
  background-color: transparent;
  transition: 1s ease-out;
  &:hover {
    color: #000000;
    background-color: $base-text;
  }
  &:disabled {
    opacity: 0.3;
    cursor: default;
  }
  &:disabled:hover {
    color: $base-text;
    background-color: transparent;
  }
}

.menu__btn_active {
  color: #000000;
  background-color: $base-text;
}

.field {
  position: relative;
  margin: auto;
}

.cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-text;
  font-size: 50rem;
  box-sizing: border-box;
  animation: cells 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.cell__empty {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

@keyframes message__overlay {
  0% {
    transform: translateY(-500rem);
  }
  100% {
    transform: translateY(0rem);
  }
}

.message__overlay {
  z-index: 60;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  background: rgba(41, 41, 41, 0.6);
  width: 100%;
  height: 100vh;
}

.message__show {
  animation: message__overlay 0.4s linear;
}

.message__close {
  animation: message__overlay 0.4s linear;
  animation-direction: reverse;
}

.message__content {
  margin-top: 25rem;
  width: 100%;
  max-width: 600rem;
  z-index: 60;
}
.message__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 10rem;
  color: $base-text;
  cursor: pointer;

  .message__close {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      transform: scale(1.5);
    }
  }
}
.message__subtitle {
  text-align: center;
  padding: 20rem;
  color: $base-text;
  font-size: 35rem;
}
.message__results {
  margin-top: 5rem;
  padding: 5rem 5rem 5rem 15rem;
  display: none;
  flex-direction: column;
  align-items: left;
  p {
    color: $base-text;
    padding: 2rem 2rem 2rem 105rem;
    font-size: 30rem;
    text-align: justify;
  }
}

@keyframes cells {
  0% {
    transform: scale(0) rotate(-165deg);
  }
  50% {
    transform: scale(0.5) rotate(5deg);
  }
  100% {
    transform: scale(1.1);
  }
}

.cell {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $base-text;
  font-size: 50rem;
  box-sizing: border-box;
  animation: cells 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

.cell__empty {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.3;
}

@media screen and (max-width: 1000px) {
  :root {
    font-size: 0.8px;
  }
}

@media screen and (max-width: 800px) {
  :root {
    font-size: 0.7px;
  }
}

@media screen and (max-width: 500px) {
  :root {
    font-size: 0.5px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;

  height: 36px;
  width: 16px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #565a5e;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-fill-upper {
  background: #3071a9;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  background: #ffffff;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #367ebd;
}
