* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  font-size: 10px;
}

body {
  background: #e0e0e0;
}

main {
  max-width: 1020px;
  margin: auto;
}

.keyboard {
  margin: 0 auto;
  color: white;
  width: 100%;
  display: grid;
  grid-row-gap: 1rem;
  padding: 1rem;
  position: relative;
  overflow: hidden;
  background: gray;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.keyboard_close {
  visibility: hidden;
}

.keyboard__row {
  display: grid;
  grid-gap: 1rem;
  grid-row-gap: 1rem;
  height: 5rem;
}

.keyboard__key {
  display: flex;
  cursor: pointer;
  border-radius: 3px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
}

[data-fn="false"].active .letter,
[data-fn="true"].active .letter {
  transform: translateY(0.1rem);
  -webkit-transform: translateY(0.1rem);
  -moz-transform: translateY(0.1rem);
  -ms-transform: translateY(0.1rem);
  -o-transform: translateY(0.1rem);
  color: white;
}

[data-fn="true"] > .letter {
  font-size: 1.6rem;
}

[data-code="CapsLock"] {
  width: 8.6rem;
}

[data-code="ShiftLeft"] {
  width: 10rem;
}

[data-code="ShiftRight"] {
  width: 12rem;
}

[data-code="Enter"] {
  width: 10rem;
}

[data-code="Tab"] {
  width: 7.6rem;
}

[data-code="ControlLeft"] {
  width: 7.6rem;
}

[data-code="ControlRight"] {
  width: 6rem;
}

[data-code="Backspace"] {
  width: 11.5rem;
}

[data-code="Space"] {
  width: 42rem;
}

[data-code="AltLeft"],
[data-code="AltRight"] {
  width: 7.6rem;
}

.active {
  background: rgba(25, 25, 25, 0.2);
  color: gray;
}

.letter {
  font-size: 2.5rem;
  width: 100%;
  text-align: center;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform-origin: center;
}

.subtitle,
.hint {
  color: white;
}

textarea.output {
  resize: none;
  width: 100%;
  height: 20rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
}

.sub {
  width: 100%;
  font-size: 1.4rem;
  color: white;
  text-align: left;
  padding-left: 1rem;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

.sub.sub-active:not(:empty) ~ .letter.sub-inactive {
  color: white;
  font-size: 1.6rem;
  text-align: center;
  padding-right: 1rem;
  width: 50%;
  transform-origin: center;
  transform: translateX(2rem);
  -webkit-transform: translateX(2rem);
  -moz-transform: translateX(2rem);
  -ms-transform: translateX(2rem);
  -o-transform: translateX(2rem);
}

[data-code="Done"] {
  color: red;
}

@keyframes fadeInOut {
  0% {
    opacity: 0.5;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
    -webkit-transform: scale(2.5);
    -moz-transform: scale(2.5);
    -ms-transform: scale(2.5);
    -o-transform: scale(2.5);
  }
}

@media screen and (max-width: 1020px) {
  .keyboard {
    margin: 0 auto;
    max-width: 800px;
    display: grid;
    grid-row-gap: 0.7rem;
    padding: 1rem;
  }

  .keyboard__row {
    grid-gap: 0.7rem;
    grid-row-gap: 1rem;
    height: 5rem;
  }

  [data-fn="true"] > .letter {
    font-size: 1.6rem;
  }

  [data-code="ControlRight"] {
    width: 6rem;
  }

  [data-code="Tab"],
  [data-code="ControlLeft"],
  [data-code="AltLeft"],
  [data-code="AltRight"] {
    width: 6.9rem;
  }

  [data-code="CapsLock"] {
    width: 6.8rem;
  }

  [data-code="ShiftLeft"],
  [data-code="Enter"] {
    width: 8rem;
  }

  [data-code="Backspace"] {
    width: 9.75rem;
  }

  [data-code="ShiftRight"] {
    width: 9.9rem;
  }

  [data-code="Space"] {
    width: 32rem;
  }

  .letter {
    font-size: 2rem;
  }
  .sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding-right: 1rem;
    width: 50%;
    transform-origin: center;
    transform: 1rem;
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    -ms-transform: translateX(1rem);
    -o-transform: translateX(1rem);
  }
}

@media screen and (max-width: 800px) {
  .keyboard {
    margin: 0 auto;
    max-width: 480px;
    display: grid;
    grid-row-gap: 0.3rem;
    padding: 1rem;
  }

  .keyboard__row {
    grid-gap: 0.3rem;
    grid-row-gap: 1rem;
    height: 4.5rem;
  }

  [data-fn="true"] > .letter {
    font-size: 1.4rem;
  }

  [data-code="Tab"],
  [data-code="ControlLeft"],
  [data-code="AltLeft"],
  [data-code="AltRight"] {
    width: 3.5rem;
  }

  [data-code="CapsLock"] {
    width: 3rem;
  }

  [data-code="ShiftLeft"],
  [data-code="Enter"] {
    width: 3rem;
  }

  [data-code="Backspace"] {
    width: 3.2rem;
  }

  [data-code="ShiftRight"] {
    width: 3rem;
  }

  [data-code="Space"] {
    width: 18rem;
  }

  .letter {
    font-size: 1.6rem;
  }

  [data-fn="false"].active .letter,
  [data-fn="true"].active .letter {
    transform: translateY(0.2rem);
    -webkit-transform: translateY(0.2rem);
    -moz-transform: translateY(0.2rem);
    -ms-transform: translateY(0.2rem);
    -o-transform: translateY(0.2rem);
    color: white;
  }

  .sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    color: white;
    font-size: 1.6rem;
    text-align: center;
    padding-right: 1rem;
    width: 50%;
    transform-origin: center;
    transform: 0.1rem;
    -webkit-transform: translateX(0.1rem);
    -moz-transform: translateX(0.1rem);
    -ms-transform: translateX(0.1rem);
    -o-transform: translateX(0.1rem);
  }
}
